@import url(https://fonts.googleapis.com/css?family=Merriweather:300,300italic,regular,italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);
:root {
    --purple: #6c63ff;
    --purple-light: #d7d4ff;
    --gray: #555555;
    --gray-dark: #2a2a2a;
    --white-200: #f9f9f9;
    --white: #ffffff;

    font-size: 62.5%;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h5 {
    font-family: Merriweather;
}
body {
    width: 100%;
    font-family: Lato;
    font-size: 1.6rem;
}
